Ai & ChatBot/Node-red flows/botfaladoIV.json
[{"id":"ea8dddd0.97ffb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"35d4f512.46edaa","type":"watson-text-to-speech","z":"ea8dddd0.97ffb","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"MtA9x6sjWAOPeIRYxPBgBihsaqLXopUKwvUYpa_cuhH1","payload-response":true,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/756d9913-b317-4f0c-9f45-a69a26a4bf3c","x":780,"y":260,"wires":[["bdcdc016.245b"]]},{"id":"24bcb7b0.172e68","type":"telegram sender","z":"ea8dddd0.97ffb","name":"","bot":"a04ffa14.c08038","haserroroutput":false,"outputs":1,"x":850,"y":420,"wires":[[]]},{"id":"bdcdc016.245b","type":"function","z":"ea8dddd0.97ffb","name":"Retorno Telegram","func":"msg.payload = {\n    \"chatId\" : msg.chatId,\n    \"type\" : \"voice\",\n    \"content\" : msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":420,"wires":[["24bcb7b0.172e68"]]},{"id":"1b290978.dbaef7","type":"telegram receiver","z":"ea8dddd0.97ffb","name":"","bot":"a04ffa14.c08038","saveDataDir":"","filterCommands":false,"x":150,"y":260,"wires":[["7da7c56a.eef87c"],[]]},{"id":"7da7c56a.eef87c","type":"function","z":"ea8dddd0.97ffb","name":"Prepara WA","func":"msg.params = {\n    \"session_id\" : msg.payload.chatId\n}\nmsg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":320,"wires":[["8e28678b.c75ec8"]]},{"id":"8e28678b.c75ec8","type":"watson-assistant-v2","z":"ea8dddd0.97ffb","name":"","service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/0a4baa1d-4a21-44cd-93e9-ae348a8e4975","assistant_id":"37f5e908-f0fe-4f2e-853b-88f1485454f4","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":470,"y":260,"wires":[["e545550b.4ea9d8","aa7dc396.07111"]]},{"id":"e545550b.4ea9d8","type":"function","z":"ea8dddd0.97ffb","name":"Prepara TTS","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":320,"wires":[["35d4f512.46edaa"]]},{"id":"aa7dc396.07111","type":"debug","z":"ea8dddd0.97ffb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":200,"wires":[]},{"id":"a04ffa14.c08038","type":"telegram bot","botname":"@Bozer_1tdst_2022_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]