Ai & ChatBot/Node-red flows/botfalandoII.json
[{"id":"ea8dddd0.97ffb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4c0b3748.ed3388","type":"play audio","z":"ea8dddd0.97ffb","name":"","voice":"","x":570,"y":160,"wires":[]},{"id":"35d4f512.46edaa","type":"watson-text-to-speech","z":"ea8dddd0.97ffb","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"MtA9x6sjWAOPeIRYxPBgBihsaqLXopUKwvUYpa_cuhH1","payload-response":true,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/756d9913-b317-4f0c-9f45-a69a26a4bf3c","x":400,"y":220,"wires":[["bdcdc016.245b","4c0b3748.ed3388","9d390565.a74be8"]]},{"id":"24bcb7b0.172e68","type":"telegram sender","z":"ea8dddd0.97ffb","name":"","bot":"a04ffa14.c08038","haserroroutput":false,"outputs":1,"x":770,"y":220,"wires":[["7fa65576.48c40c"]]},{"id":"bdcdc016.245b","type":"function","z":"ea8dddd0.97ffb","name":"Retorno Telegram","func":"msg.payload = {\n    \"chatId\" : 649381776,\n    \"type\" : \"voice\",\n    \"content\" : msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":280,"wires":[["24bcb7b0.172e68","39f91cf7.3da8d4"]]},{"id":"9d390565.a74be8","type":"debug","z":"ea8dddd0.97ffb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":100,"wires":[]},{"id":"39f91cf7.3da8d4","type":"debug","z":"ea8dddd0.97ffb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":340,"wires":[]},{"id":"7fa65576.48c40c","type":"debug","z":"ea8dddd0.97ffb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":900,"y":160,"wires":[]},{"id":"1b290978.dbaef7","type":"telegram receiver","z":"ea8dddd0.97ffb","name":"","bot":"a04ffa14.c08038","saveDataDir":"","filterCommands":false,"x":110,"y":220,"wires":[["7da7c56a.eef87c","22f383bc.0a7eec"],[]]},{"id":"7da7c56a.eef87c","type":"function","z":"ea8dddd0.97ffb","name":"Prepara TTS","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":280,"wires":[["35d4f512.46edaa","5466aebd.44c09"]]},{"id":"5466aebd.44c09","type":"debug","z":"ea8dddd0.97ffb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":360,"wires":[]},{"id":"22f383bc.0a7eec","type":"debug","z":"ea8dddd0.97ffb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":140,"wires":[]},{"id":"a04ffa14.c08038","type":"telegram bot","botname":"@Bozer_1tdst_2022_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]