Ai & ChatBot/Node-red flows/botfalandoIII.json
[{"id":"ea8dddd0.97ffb","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"35d4f512.46edaa","type":"watson-text-to-speech","z":"ea8dddd0.97ffb","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"MtA9x6sjWAOPeIRYxPBgBihsaqLXopUKwvUYpa_cuhH1","payload-response":true,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/756d9913-b317-4f0c-9f45-a69a26a4bf3c","x":620,"y":180,"wires":[["bdcdc016.245b"]]},{"id":"24bcb7b0.172e68","type":"telegram sender","z":"ea8dddd0.97ffb","name":"","bot":"a04ffa14.c08038","haserroroutput":false,"outputs":1,"x":1090,"y":200,"wires":[[]]},{"id":"bdcdc016.245b","type":"function","z":"ea8dddd0.97ffb","name":"Retorno Telegram","func":"msg.payload = {\n    \"chatId\" : msg.chatId,\n    \"type\" : \"voice\",\n    \"content\" : msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":180,"wires":[["24bcb7b0.172e68"]]},{"id":"1b290978.dbaef7","type":"telegram receiver","z":"ea8dddd0.97ffb","name":"","bot":"a04ffa14.c08038","saveDataDir":"","filterCommands":false,"x":110,"y":260,"wires":[["5f8594aa.1f06bc"],[]]},{"id":"7da7c56a.eef87c","type":"function","z":"ea8dddd0.97ffb","name":"Prepara TTS","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":180,"wires":[["35d4f512.46edaa"]]},{"id":"5f8594aa.1f06bc","type":"switch","z":"ea8dddd0.97ffb","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"message","vt":"str"},{"t":"eq","v":"voice","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":280,"wires":[["7da7c56a.eef87c"],["fc2c7c9b.5b64c"]]},{"id":"d6f47d71.dbf49","type":"watson-speech-to-text","z":"ea8dddd0.97ffb","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"lkxIUJ2_GMlQ86Xu6fPhzrA2WdXKUIrzwo0TmGX_JIuP","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/e075bc59-a794-4b9e-a059-4748a046a362","x":640,"y":360,"wires":[["44bb81c0.8386c"]]},{"id":"fc2c7c9b.5b64c","type":"function","z":"ea8dddd0.97ffb","name":"Prepara STT","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.weblink;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":360,"wires":[["d6f47d71.dbf49"]]},{"id":"44bb81c0.8386c","type":"function","z":"ea8dddd0.97ffb","name":"Retorno Telegram II","func":"msg.payload = {\n    \"chatId\" : msg.chatId,\n    \"type\" : \"message\",\n    \"content\" : msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":360,"wires":[["24bcb7b0.172e68"]]},{"id":"a04ffa14.c08038","type":"telegram bot","botname":"@Bozer_1tdst_2022_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]