Ai & ChatBot/Node-red flows/Exemplo_1_Http.json
[{"id":"d0c76aac.e147f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2237be87.915cb2","type":"inject","z":"d0c76aac.e147f8","name":"Entrada","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello World!","payloadType":"str","x":130,"y":60,"wires":[["72328e03.19239"]]},{"id":"2a4701b2.4512ce","type":"debug","z":"d0c76aac.e147f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":60,"wires":[]},{"id":"72328e03.19239","type":"function","z":"d0c76aac.e147f8","name":"","func":"var dateNow = new Date();\nvar timeAsString = dateNow.toLocaleTimeString();\n\nmsg.payload = msg.payload + ' A hora é ' + timeAsString + '.';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":100,"wires":[["2a4701b2.4512ce"]]},{"id":"36597b22.5d52d4","type":"http in","z":"d0c76aac.e147f8","name":"Entrada","url":"conversa","method":"get","upload":false,"swaggerDoc":"","x":190,"y":260,"wires":[["dcb4109e.e957"]]},{"id":"257f5a83.2d01d6","type":"debug","z":"d0c76aac.e147f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":260,"wires":[]},{"id":"dcb4109e.e957","type":"function","z":"d0c76aac.e147f8","name":"","func":"msg.params =  {\n    \"session_id\" : \"\" \n};\nmsg.payload = msg.payload.mensagem;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":300,"wires":[["257f5a83.2d01d6"]]}]