Ai & ChatBot/Node-red flows/Node-red-Language-Translator.json
[{"id":"95a45963.1ed1d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f31cd770.71d368","type":"telegram receiver","z":"95a45963.1ed1d8","name":"","bot":"188aad14.30f703","saveDataDir":"","filterCommands":false,"x":170,"y":160,"wires":[["f4588ca4.85401"],[]]},{"id":"d49efdbd.46a4a","type":"telegram sender","z":"95a45963.1ed1d8","name":"","bot":"188aad14.30f703","haserroroutput":false,"outputs":1,"x":550,"y":280,"wires":[[]]},{"id":"f4588ca4.85401","type":"function","z":"95a45963.1ed1d8","name":"Prepara STT","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.weblink;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":120,"wires":[["5b790195.26bc9"]]},{"id":"5b790195.26bc9","type":"watson-speech-to-text","z":"95a45963.1ed1d8","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"lkxIUJ2_GMlQ86Xu6fPhzrA2WdXKUIrzwo0TmGX_JIuP","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/e075bc59-a794-4b9e-a059-4748a046a362","x":480,"y":160,"wires":[["f2535d98.a2e57","c0d304c8.744168"]]},{"id":"f2535d98.a2e57","type":"watson-translator","z":"95a45963.1ed1d8","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"pt","destlang":"en","apikey":"HcWxqgJL8nmwp8jyfx5WQw8GayCLoDAk0TpI4OWJTC9N","custom":"","domainhidden":"general","srclanghidden":"pt","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/0b642357-a202-491f-84b7-1b0fa9a3a60f","x":690,"y":100,"wires":[["89b3a771.dba968","632b739b.1bb32c"]]},{"id":"89b3a771.dba968","type":"function","z":"95a45963.1ed1d8","name":"Prepara_Telegram","func":"msg.payload = {\n    \"chatId\": msg.chatId,\n    \"type\": \"message\",\n    \"content\": msg.payload\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":280,"wires":[["d49efdbd.46a4a"]]},{"id":"c0d304c8.744168","type":"debug","z":"95a45963.1ed1d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":60,"wires":[]},{"id":"632b739b.1bb32c","type":"debug","z":"95a45963.1ed1d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":200,"wires":[]},{"id":"188aad14.30f703","type":"telegram bot","botname":"@Bozer_1tdst_2022_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]