Ai & ChatBot/Node-red flows/Node-red-Telegram-STT.json
[{"id":"7c963464ea22a169","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b28936ffa97f8e65","type":"telegram receiver","z":"7c963464ea22a169","name":"Entrada Telegram","bot":"68dd5ded.acabf4","saveDataDir":"","filterCommands":false,"x":140,"y":160,"wires":[["df4410e5fae46e0f"],[]]},{"id":"2f0c7d3dcfd202b4","type":"function","z":"7c963464ea22a169","name":"Prepara STT","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.weblink;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":160,"wires":[["3b6bcdfb3fbefc8e","17273904bdcf73e7"]]},{"id":"3b6bcdfb3fbefc8e","type":"watson-speech-to-text","z":"7c963464ea22a169","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"lkxIUJ2_GMlQ86Xu6fPhzrA2WdXKUIrzwo0TmGX_JIuP","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/e075bc59-a794-4b9e-a059-4748a046a362","x":620,"y":220,"wires":[["f60fbb5556ce6329","d5932f164e2629f4"]]},{"id":"17273904bdcf73e7","type":"debug","z":"7c963464ea22a169","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":60,"wires":[]},{"id":"f60fbb5556ce6329","type":"debug","z":"7c963464ea22a169","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":60,"wires":[]},{"id":"df4410e5fae46e0f","type":"switch","z":"7c963464ea22a169","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"voice","vt":"str"},{"t":"eq","v":"message","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":220,"wires":[["2f0c7d3dcfd202b4"],["739c32f5039b9761"]]},{"id":"739c32f5039b9761","type":"debug","z":"7c963464ea22a169","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":300,"wires":[]},{"id":"a37f9733ea84b40c","type":"watson-assistant-v2","z":"7c963464ea22a169","name":"","service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/0a4baa1d-4a21-44cd-93e9-ae348a8e4975","assistant_id":"37f5e908-f0fe-4f2e-853b-88f1485454f4","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":1010,"y":220,"wires":[["dabb7511ce3db354","92e0235472442932"]]},{"id":"d5932f164e2629f4","type":"function","z":"7c963464ea22a169","name":"Prepara_WA","func":"msg.params = {\n    \"session_id\" : msg.chatId\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":140,"wires":[["a37f9733ea84b40c","c8b674954b53e62b"]]},{"id":"c8b674954b53e62b","type":"debug","z":"7c963464ea22a169","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":60,"wires":[]},{"id":"dabb7511ce3db354","type":"debug","z":"7c963464ea22a169","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1170,"y":60,"wires":[]},{"id":"92e0235472442932","type":"function","z":"7c963464ea22a169","name":"","func":"msg.payload = {\n    chatId : msg.chatId,\n    type : \"message\",\n    content : msg.payload.output.generic[0].text\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":140,"wires":[["72c72ef8d62acf4b"]]},{"id":"72c72ef8d62acf4b","type":"telegram sender","z":"7c963464ea22a169","name":"","bot":"68dd5ded.acabf4","haserroroutput":false,"outputs":1,"x":1390,"y":220,"wires":[[]]},{"id":"68dd5ded.acabf4","type":"telegram bot","botname":"@Bozer_1tdst_2022_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]