Ai & ChatBot/Node-red flows/Node-red-Cloudant.json
[{"id":"93b2fc84.79d91","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"709c88f3.1be6a8","type":"cloudant in","z":"93b2fc84.79d91","name":"","cloudant":"76cb413c.27167","database":"database-1tdst","service":"_ext_","search":"_id_","design":"","index":"","x":440,"y":140,"wires":[["54e38a57.b64934","9f6104da.bd6428"]]},{"id":"ef3dac18.38161","type":"cloudant out","z":"93b2fc84.79d91","name":"","cloudant":"76cb413c.27167","database":"database-1tdst","service":"_ext_","payonly":true,"operation":"insert","x":500,"y":440,"wires":[]},{"id":"d9cab68c.fdf058","type":"telegram receiver","z":"93b2fc84.79d91","name":"","bot":"188aad14.30f703","saveDataDir":"","filterCommands":false,"x":110,"y":140,"wires":[["a6ac9521.107d58","1f4b3336.1519fd"],[]]},{"id":"a6ac9521.107d58","type":"function","z":"93b2fc84.79d91","name":"ProcIN","func":"//Informacoes Gerais\nmsg.params = {\n    session_id : msg.payload.chatId,\n    tipo : msg.payload.type,\n    rev: ''\n};\n\n//conteudo da mensagem\nmsg.conteudo = {\n    content : msg.payload.content  \n};\n\n//Requisição ao banco de dados\nmsg.payload = {\n    \"_id\" : String(msg.payload.chatId)\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":180,"wires":[["709c88f3.1be6a8"]]},{"id":"54e38a57.b64934","type":"switch","z":"93b2fc84.79d91","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"null","vt":"jsonata"},{"t":"neq","v":"null","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":180,"wires":[["33cb65f1.5f51ca"],["2ce66b01.6bd274"]]},{"id":"9f6104da.bd6428","type":"debug","z":"93b2fc84.79d91","name":"Retorno DB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":60,"wires":[]},{"id":"33cb65f1.5f51ca","type":"function","z":"93b2fc84.79d91","name":"Sem Registro","func":"msg.payload = msg.conteudo.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":160,"wires":[["dbc74589.f8c278","66cb8992.7309c8"]]},{"id":"2ce66b01.6bd274","type":"function","z":"93b2fc84.79d91","name":"Com Registro","func":"msg.params.rev = msg.payload._rev;\nmsg.additional_context = {}\n\nif(msg.payload.context){\n    if(\"cep\" in msg.payload.context){\n        msg.additional_context[\"cep\"] = msg.payload.context.cep;\n    }\n    \n    if(\"telefone\" in msg.payload.context){\n        msg.additional_context[\"telefone\"] = msg.payload.context.telefone;\n    }    \n    \n    if(\"email\" in msg.payload.context){\n        msg.additional_context[\"email\"] = msg.payload.context.email;\n    }    \n}\n\nmsg.payload = msg.conteudo.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":200,"wires":[["dbc74589.f8c278","c17c5331.89dd2"]]},{"id":"dbc74589.f8c278","type":"watson-assistant-v2","z":"93b2fc84.79d91","name":"","service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/0a4baa1d-4a21-44cd-93e9-ae348a8e4975","assistant_id":"37f5e908-f0fe-4f2e-853b-88f1485454f4","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":990,"y":180,"wires":[["91356ecc.97425","be80f6fc.b06138"]]},{"id":"91356ecc.97425","type":"function","z":"93b2fc84.79d91","name":"ProcIN DB","func":"let imax = msg.payload.output.generic.length;\nlet resposta ='';\n\nfor(let i=0; i<imax; i++){\n    resposta = resposta + '\\n' + msg.payload.output.generic[i].text;\n}\nmsg.payload2 = resposta;\n\nlet u_cont = msg.payload.context.skills['main skill'].user_defined;\n\n//Primeira entrada no DB\nif(msg.params.rev == ''){\n    msg.payload = {\n        \"_id\" : String(msg.params.session_id),\n        \"context\" : u_cont\n    }\n} else{\n    msg.payload = {       \n        \"_id\" : String(msg.params.session_id),\n        \"context\" : u_cont,\n        \"_rev\":String(msg.params.rev)\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":340,"wires":[["3f125aec.819786","ef3dac18.38161","5a2d97fb.da0fc8"]]},{"id":"3f125aec.819786","type":"function","z":"93b2fc84.79d91","name":"ProcOUT","func":"msg.payload = {\n    chatId : msg.params.session_id,\n    type : msg.params.tipo,\n    content : msg.payload2\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":340,"wires":[["dffcd489.7abf18","eb880894.9bb318"]]},{"id":"66cb8992.7309c8","type":"debug","z":"93b2fc84.79d91","name":"Sem Registro","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":60,"wires":[]},{"id":"c17c5331.89dd2","type":"debug","z":"93b2fc84.79d91","name":"Com Registro","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1000,"y":280,"wires":[]},{"id":"5a2d97fb.da0fc8","type":"debug","z":"93b2fc84.79d91","name":"Mensagem","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":270,"y":440,"wires":[]},{"id":"dffcd489.7abf18","type":"telegram sender","z":"93b2fc84.79d91","name":"","bot":"188aad14.30f703","haserroroutput":false,"outputs":1,"x":710,"y":360,"wires":[[]]},{"id":"1f4b3336.1519fd","type":"debug","z":"93b2fc84.79d91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":60,"wires":[]},{"id":"be80f6fc.b06138","type":"debug","z":"93b2fc84.79d91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":100,"wires":[]},{"id":"eb880894.9bb318","type":"debug","z":"93b2fc84.79d91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":420,"wires":[]},{"id":"76cb413c.27167","type":"cloudant","host":"https://0879b1ab-b042-44aa-89dd-a3a9fab60c09-bluemix.cloudantnosqldb.appdomain.cloud","name":""},{"id":"188aad14.30f703","type":"telegram bot","botname":"@Bozer_1tdst_2022_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]