Ai & ChatBot/Correção PS/PS_1TDST_flow.json
[{"id":"c47056034fe258a0","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a5efbb5f7974087e","type":"telegram sender","z":"c47056034fe258a0","name":"","bot":"12d69f86286ab970","haserroroutput":false,"outputs":1,"x":1750,"y":300,"wires":[[]]},{"id":"317052db0c14f277","type":"telegram receiver","z":"c47056034fe258a0","name":"","bot":"12d69f86286ab970","saveDataDir":"","filterCommands":false,"x":110,"y":320,"wires":[["030bdfbdd21fc026"],[]]},{"id":"45905c9a891d696d","type":"function","z":"c47056034fe258a0","name":"Prepara WA","func":"msg.params = {\n    \"session_id\" : msg.payload.chatId\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":240,"wires":[["d3cb896b2c90b265"]]},{"id":"d3cb896b2c90b265","type":"watson-assistant-v2","z":"c47056034fe258a0","name":"WA","service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/0a4baa1d-4a21-44cd-93e9-ae348a8e4975","assistant_id":"1de5852d-1c1c-4981-b42e-ca0be31c0fdc","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":870,"y":240,"wires":[["fc57c4f69add23cd","405775211795939e"]]},{"id":"8cc1d5f05a4211d0","type":"watson-translator","z":"c47056034fe258a0","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"pt","destlang":"en","password":"","apikey":"HcWxqgJL8nmwp8jyfx5WQw8GayCLoDAk0TpI4OWJTC9N","custom":"","domainhidden":"general","srclanghidden":"pt","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.us-south.language-translator.watson.cloud.ibm.com/instances/0b642357-a202-491f-84b7-1b0fa9a3a60f","x":1230,"y":180,"wires":[["50de289773813709"]]},{"id":"fc57c4f69add23cd","type":"function","z":"c47056034fe258a0","name":"Retorno Portugues","func":"msg.payload = {\n    \"chatId\" : msg.chatId,\n    \"type\" : \"message\",\n    \"content\" : msg.payload.output.generic[0].text\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":300,"wires":[["a5efbb5f7974087e"]]},{"id":"3df6b82b02b1c318","type":"watson-speech-to-text","z":"c47056034fe258a0","name":"STT","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"lkxIUJ2_GMlQ86Xu6fPhzrA2WdXKUIrzwo0TmGX_JIuP","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/e075bc59-a794-4b9e-a059-4748a046a362","x":570,"y":240,"wires":[["45905c9a891d696d"]]},{"id":"030bdfbdd21fc026","type":"switch","z":"c47056034fe258a0","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"voice","vt":"str"},{"t":"neq","v":"voice","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":300,"wires":[["de12c0009794f044"],["7054431343294ae1"]]},{"id":"de12c0009794f044","type":"function","z":"c47056034fe258a0","name":"Prepara STT","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.weblink;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":240,"wires":[["3df6b82b02b1c318"]]},{"id":"7054431343294ae1","type":"function","z":"c47056034fe258a0","name":"Prepara TTS_2","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = \"Eu não consigo lifar com esse tipo de mensagem, favor enviar uum aúdio\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":360,"wires":[["da83d75daaf1c1e6"]]},{"id":"da83d75daaf1c1e6","type":"watson-text-to-speech","z":"c47056034fe258a0","name":"TTS","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"","format":"audio/wav","password":"","apikey":"J4oweExNDJZQaVyi87WUO6AuIIGkIJ3TOGfa-3D8zs8Q","payload-response":true,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/9cc746a5-f3a0-47c6-a0a4-37f4123031c2","x":630,"y":360,"wires":[["f19441263b5c1618"]]},{"id":"f19441263b5c1618","type":"function","z":"c47056034fe258a0","name":"Retorno Outros casos","func":"msg.payload={\n    \"content\" : msg.payload,\n    \"chatId\" : msg.chatId,\n    \"type\" : \"voice\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":360,"wires":[["a5efbb5f7974087e"]]},{"id":"50de289773813709","type":"watson-text-to-speech","z":"c47056034fe258a0","name":"TTS","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelV2Voice","voicehidden":"en-US_MichaelV2Voice","format":"audio/wav","password":"","apikey":"J4oweExNDJZQaVyi87WUO6AuIIGkIJ3TOGfa-3D8zs8Q","payload-response":true,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/9cc746a5-f3a0-47c6-a0a4-37f4123031c2","x":1390,"y":180,"wires":[["48b4ac31d4c55571"]]},{"id":"405775211795939e","type":"function","z":"c47056034fe258a0","name":"Prepara Translator","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":180,"wires":[["8cc1d5f05a4211d0"]]},{"id":"48b4ac31d4c55571","type":"function","z":"c47056034fe258a0","name":"Retorno Inglês","func":"msg.payload = {\n    \"chatId\" : msg.chatId,\n    \"type\" : \"voice\",\n    \"content\" : msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1540,"y":180,"wires":[["a5efbb5f7974087e"]]},{"id":"12d69f86286ab970","type":"telegram bot","botname":"@Vendas_prof_Miguel_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]